body {
  background-color: aqua;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 75vh;
  min-height: 500px;
  padding: 10px;
  margin-top: 50px;
}

.buttons {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.clear,
.delete {
  width: 135px;
  height: 50px;
  margin-bottom: 10px;
  background-color: white;
  border-radius: 10px;
}

.button {
  padding: 25px;
  margin: 1px;
  border-radius: 10px;
  background-color: white;
  font-size: large;
  width: 23%;
}

.display {
  background-color: black;
  height: 100px;
  width: 300px;
  margin-left: 50px;
  border-radius: 10px;
}

.calculator {
  background-color: crimson;
  height: 500px;
  width: 400px;
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  padding-bottom: 10px;
  border-radius: 20px;
  filter: drop-shadow(10px 10px 4px black);
}

.button:hover,
.clear:hover,
.delete:hover {
  background-color: gainsboro;
}

.button:active,
.clear:active,
.delete:active {
  background-color: silver;
}
